wp-themes-dev/app/sql
wp-themes-dev/logs
wp-themes-dev/conf
wp-themes-dev/app/public/wp-admin
wp-themes-dev/app/public/wp-includes
wp-themes-dev/app/public/wp-content/upgrade
wp-themes-dev/app/public/wp-content/uploads
wp-themes-dev/app/public/wp-content/index.php
wp-themes-dev/app/public/wp-content/themes/astra
wp-themes-dev/app/public/wp-content/themes/sass-theme/node_modules
wp-themes-dev/app/public/.htaccess
wp-themes-dev/app/public/index.php
wp-themes-dev/app/public/license.txt
wp-themes-dev/app/public/local-xdebuginfo.php
wp-themes-dev/app/public/readme.html
wp-themes-dev/app/public/wp-activate.php
wp-themes-dev/app/public/wp-blog-header.php
wp-themes-dev/app/public/wp-comments-post.php
wp-themes-dev/app/public/wp-config.php
wp-themes-dev/app/public/wp-config-sample.php
wp-themes-dev/app/public/wp-cron.php
wp-themes-dev/app/public/wp-links-opml.php
wp-themes-dev/app/public/wp-load.php
wp-themes-dev/app/public/wp-login.php
wp-themes-dev/app/public/wp-mail.php
wp-themes-dev/app/public/wp-settings.php
wp-themes-dev/app/public/wp-signup.php
wp-themes-dev/app/public/wp-trackback.php
wp-themes-dev/app/public/xmlrpc.php

